Header {
    text-align: center;
    background-color: #92C7CF;
    }
Header h4{
    margin: 15px;
    font-size: 20px;
}
footer{
    text-align: center;
}
footer p{
    text-align: left;
}

h3 {
    text-align: center;
}
p {
    font-size: 17px;
}
input {
    margin-right:10px;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    flex-direction: column;
}
button {
    margin:10px;
    border-color: aqua;
    background-color:cyan;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}
button:disabled {
    background-color: red;
}
img {
    text-align: center;
}